
body{
  background-color: #dbdbdb;
}
.container{
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.hide{
  display: none;
}

#game-area{
  display: flex;
}

.box{
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 50px;
  cursor: pointer;
}

@keyframes fade {
  0%{
    border-radius: 0;
  }

  100%{
    border-radius: 100%;
  }
}

.reveal {
  animation: fade 3s linear;
}

.wins{
  border-radius: 100%;
  background-color: purple ;
}

p{
  font-weight: bolder;
  
}

/* #average, #numGuesses{
  text-align: center;
  border-style: solid;  
  padding: 30px;
} */

.border, .border2{
  border-style: solid;
  text-align: center;
  padding: 30px;
  background-color: rgb(46, 108, 108);
  /* width: 50%; */
}